<!-- index.html -->
<!DOCTYPE html>

<!-- ASSIGN OUR ANGULAR MODULE -->
<html lang="en">
<head>
  <!-- META -->
  <meta charset="utf-8">

  <title>Pepper Botts</title>

  <!-- FAVICON -->
  <link rel="shortcut icon" href="/public/img/favicon.png">

  <!-- SCROLLS -->
  <link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="/public/css/index.css">

  <!-- SPELLS -->
  <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
</head>

<!-- SET THE CONTROLLER AND GET ALL TODOS WITH INITIALIZE FUNCTION -->
<body>
  <div class="container" style="width: 700px; padding-top: 140px">
    <div class="row col-lg-12">
      How to do it.

      This number will call you.

      Tweet if you like it!

      If you want to turn it off, then click here (this will revoke privileges to your google cal from this app).
    </div>
    <footer class="col-xs-12 footer">
      <a href="https://www.github.com/lambtron/pepper-potts">Github</a> | Made with <span class="glyphicon glyphicon-heart" style="color: #EE2C2C"></span> by <a href="http://www.twitter.com/andyjiang">@andyjiang</a>
    </footer>
  </div>
</body>
</html>